@font-face {
  font-family: "arkipelago";
  src: url("./src/assets/font/Arkipelago.otf");
}

// define here variables for spectre.css
$primary-color: #ba5624;
$secondary-color: #b54251;
//$base-font-family: 'arkipelago';
$font-size: 1rem;


@import "node_modules/spectre.css/src/spectre.scss";
@import "node_modules/spectre.css/src/spectre-icons.scss";

body {
  height: 100vh;
  width: 100vw;
}

a {
  cursor: pointer;
}
