h1 {
  margin-top: 2rem;
}

.custom-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
}

.todos {
  margin-top: 5rem;
}

.text-line-through {
  text-decoration: line-through;
}
