<div class="container">

  <h1 class="text-center text-primary text-bold">My TODO</h1>

  <div class="columns">
    <div class="column col-6 col-mx-auto">
      <div class="columns">
        <ng-container *ngFor="let doc of documents | async">
            <!-- <div class="column col-4">
              <p>{{ convertTimestampToDate(todo.date) |  date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div> -->
            <div class="column col-2">
              <input type="checkbox" [checked]="doc.todo.completed" (change)="changeTodoToComplete(doc)">
            </div>
            <div class="column col-10">
              <p>{{doc.todo.title}}</p>
            </div>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="columns text-center">
    <div class="column col-6 col-mx-auto">
      <div class="columns text-center">
        <div class="column col-6 col-mx-auto">
          <input type="text" class="form-input" placeholder="title" [(ngModel)]="newTodo">
        </div>
        <div class="column col-6">
          <button type="button" class="btn btn-secondary" (click)="addNewTodo()"> + </button>
        </div>
      </div>
    </div>
  </div>

</div>
